<div class="container">
  <o-form #form class="campo-blanco" service="users" entity="myUser" keys="user_" header-actions="R;U"
    show-header-navigation="no">
    <o-row>
      <o-column class="img-container">
        <o-image id="CUSTOMER_PHOTO" attr="user_photo" empty-image="assets/images/no-image.png"
          sql-type="OTHER"></o-image>
      </o-column>
      <o-column title-label='YOUR DATA' fxFlex class="data-container">
        <o-row class="user">
          <o-text-input class="campo-blanco" attr="user_" label="NICKNAME" fxFlex="50" read-only="yes"
            required="yes"></o-text-input>
        </o-row>
        <o-row class="email">
          <o-email-input class="campo-blanco" attr="email" label="EMAIL" read-only="no" fxFlex="50"
            required="yes"></o-email-input>
        </o-row>
        <o-row class="name-surname">
          <o-text-input class="campo-blanco" label="NAME" attr="name" fxFlex="25" required="yes"></o-text-input>
          <div class="spacer"></div>
          <o-text-input class="campo-blanco" label="SURNAME" attr="surname" fxFlex="30" required="yes"></o-text-input>
        </o-row>
        <o-row class="phone">
          <o-phone-input class="campo-blanco" attr="phone_num" label="phone" read-only="no"
            required="yes"></o-phone-input>
        </o-row>
        <o-row class="nif">
          <o-nif-input class="campo-blanco" #nif attr="nif" label="NIF" read-only="no" required="yes"></o-nif-input>
        </o-row>
        <o-row class="location">
          <o-text-input class="campo-blanco" attr="ulocation" label="LOCATION" required="yes"></o-text-input>
        </o-row>
      </o-column>
    </o-row>
  </o-form>
</div>