.m-top-24 {
  margin-top: 24px;
}

.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .login-outer-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: auto;

    .login-bg-container {
      background-image: url(https://cdn.discordapp.com/attachments/1153576792486064158/1172508510731391047/portada.png?ex=656092a5&is=654e1da5&hm=e2513a5ad3b4581d04a01dcaad40dd55c93bf3c9a96751b48914c59c1e84f717&);
      width: calc(100% - 640px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      position: relative;
      z-index: 1;
    }


    .login-bg-container::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1);
      opacity: 0.8;
    }

    .wrapp-login {
      width: 640px;
      min-height: 100%;

      .login-inner-container {
        width: 100%;
        background-color: #416D83;

        form {
          padding: 16px;
          min-height: 600px;
          min-width: 368px;
        }

        .logo-container {
          width: 368px;
          height: 110px;

          img {
            max-height: 110px;
            max-width: 368px;
          }
        }

        .session-expired {
          text-align: center;
        }

        .login-title-container {
          margin-top: 64px;
        }

        button {
          width: 100%;
          margin: 32px 0 0;
          height: 42px;
          font-size: 16px;
          background-color: #FFA099;
          border-radius: 10px;
        }

        .dark_text {
          color: #aa2323;
          font-size: 9pt;
        }

        .login_info {
        }
        .title_text {
          font-size: 14px;
        }

        .title_text {
          font-weight: 600;
          color: white;
        }

        .text {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }


  .footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
    background-color: black;

    div {
      height: 40px;
      margin-right: 138px;

      span {
        font-size: 11px;
        padding-right: 4px;
      }
    }
  }
}
.btnreg-container{
  display: flex;
  vertical-align: center;
  justify-content: center;

}
@media (max-width: 576px) {
  .full-page {
    .login-outer-container {
      .wrapp-login {
        width: 100%;
        min-height: 100%;

        .login-inner-container {
          width: 100%;

          form {
            min-width: auto;
            min-height: auto;
          }
        }
      }
    }

    .footer-container {
      div {
        margin: 0 auto;
        color: aliceblue;

      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .title_page {
    display: none;
  }
}

.img-container {
  text-align: left;
  background-color: transparent !important;
}

.logo_page {
  margin: 0 auto;
  max-width: 100%;
  max-height: 150px;
  padding-top: 370px;
  text-align: left;
  background-color: transparent;

}

.title_page {
  text-align: left;
  margin-top: 1px;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "League Spartan";
  color: white;
  padding-left: 20px;
}

