.container {
  height: 100%;
}

.filter-container {
  height: max-content;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.filter-container o-daterange-input {
  margin: 20px;
  width: 500px;
}

.oform {
  display: flex;
  align-items: center;
}

.charts-container {
  height: 60%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

.pie-container {
  height: 100%;
  width: 30%;
  text-align: center;
}

.barchart-container {
  height: 100%;
  width: 60%;
  padding-left: 40px;
}
